.popup__close-icon {
  background-image: url(../../../images/close-icon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-position: center;
  border: 0;
  cursor: pointer;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1024px) {
  .popup__close-icon {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}
