.element__caption-text {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(246px - 22px - 30px);
}
